{{=<% %>=}}
<div class="masthead" data-menu>
	<ul class="nav nav-pills pull-right">
	  <li><a href="/home" data-content="menu_home">{{menu_home}}</a></li>
	  <li><a href="/sobre" data-content="menu_about">{{menu_about}}</a></li>
	  <li><a href="/produtos" data-content="menu_produtos">{{menu_produtos}}</a></li>
	</ul>
  	<h3 class="muted" data-brand>{{company_logo}}</h3>
</div>
<hr>
