{{=<% %>=}}

<div class="jumbotron">
	<img data-editable-img="{{image_cat_940x230}}" src="{{image_cat_940x230}}" />
	<h1 data-editable="{{commons_header}}">{{commons_header}}</h1>
	<p class="lead" data-editable="{{commons_random}}">{{commons_random}}</p>
	<a class="btn btn-large btn-danger" href="/about" data-editable="{{commons_button}}">{{commons_button}}</a>
</div>
<hr>
<div class="row-fluid marketing">
	<div class="span6">
		<h4 data-editable="{{home_title}}">{{home_title}}</h4>
		<p data-editable="{{home_text}}">{{home_text}}</p>
	</div>

	<div class="span6">
		<h4 data-editable="{{home_subtitle}}">{{home_subtitle}}</h4>
		<p data-editable="{{home_subtext}}">{{home_subtitle}}</p>
	</div>
</div>

<%> commons/logo %>