{{=<% %>=}}
<div class="jumbotron">
	<h2 data-editable="{{produtos_slogan}}">{{produtos_slogan}}</h2>
	<p class="lead" data-editable="{{produtos_mission}}">{{produtos_mission}}</p>
</div>
<hr>

<div class="row">
  <div data-gallery>
		<div id="pictures">
		  <ul>
			<li>
			  <a href="{{image_planet_1024x683}}" title="{{gallery_picture_title}}">
				<img src="{{image_planet_200x200}}" title="{{gallery_picture_title}}" data-description="{{gallery_picture_description}}" />
			  </a>
			</li>
			<li>
			  <a href="{{image_planet_1024x683}}" title="{{gallery_picture_title}}">
				<img src="{{image_planet_200x200}}" title="{{gallery_picture_title}}" data-description="{{gallery_picture_description}}" />
			  </a>
			</li>
			<li>
			  <a href="{{image_planet_1024x683}}" title="{{gallery_picture_title}}">
				<img src="{{image_planet_200x200}}" title="{{gallery_picture_title}}" data-description="{{gallery_picture_description}}" />
			  </a>
			</li>
			<li>
			  <a href="{{image_planet_1024x683}}" title="{{gallery_picture_title}}">
				<img src="{{image_planet_200x200}}" title="{{gallery_picture_title}}" data-description="{{gallery_picture_description}}" />
			  </a>
			</li>
			<li>
			  <a href="{{image_planet_1024x683}}" title="{{gallery_picture_title}}">
				<img src="{{image_planet_200x200}}" title="{{gallery_picture_title}}" data-description="{{gallery_picture_description}}" />
			  </a>
			</li>
			<li>
			  <a href="{{image_planet_1024x683}}" title="{{gallery_picture_title}}">
				<img src="{{image_planet_200x200}}" title="{{gallery_picture_title}}" data-description="{{gallery_picture_description}}" />
			  </a>
			</li>
			<li>
			  <a href="{{image_planet_1024x683}}" title="{{gallery_picture_title}}">
				<img src="{{image_gallery_300x190}}" title="{{gallery_picture_title}}" data-description="{{gallery_picture_description}}" />
			  </a>
			</li>
			<li>
			  <a href="{{image_planet_1024x683}}" title="{{gallery_picture_title}}">
				<img src="{{image_planet_200x200}}" title="{{gallery_picture_title}}" data-description="{{gallery_picture_description}}" />
			  </a>
			</li>
			<li>
			  <a href="{{image_planet_1024x683}}" title="{{gallery_picture_title}}">
				<img src="{{image_planet_200x200}}" title="{{gallery_picture_title}}" data-description="{{gallery_picture_description}}" />
			  </a>
			</li>
		  </ul>
		</div>
  </div>
</div>


