{{=<% %>=}}
<div class="jumbotron">
	<h2 data-editable="{{about_slogan}}">{{about_slogan}}</h2>
	<p class="lead" data-editable="{{about_mission}}">{{about_mission}}</p>
</div>
<hr>
<div class="row-fluid marketing">
	<div class="span6">
    	<img data-editable-img="{{image_cat_280x230}}" src="{{image_cat_280x230}}" alt="">
	</div>

	<div class="span6">
    <p data-editable="{{about_text}}">{{{about_text}}}</p>
    <a class="btn btn-danger" href="/about">Entrar em contato</a>
	</div>
</div>

<%> commons/logo %>