{{=<% %>=}}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="pt-Br"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="pt-Br"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="pt-Br"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="pt-Br"> <!--<![endif]-->
<head>
     <%> meta/head %>
     <%> meta/css %>
</head>

<body id='{{namespace}}'>
     <%> commons/header%>

     <%#home?%>
          <%> pages/home%>
     <%/home?%>

     <%#sobre?%>
          <%> pages/sobre%>
     <%/sobre?%>

     <%#produtos?%>
          <%> pages/produtos%>
     <%/produtos?%>

     <%> meta/js %>
</body>

</html>