@import "styles";

// mono palette
// "colors" : ["#ffffff", "#333333", "#666666", "#cccccc", "#999999"]

@mono1: #ffffff;
@mono2: #333333;
@mono3: #666666;
@mono4: #cccccc;
@mono5: #999999;

// color elements

.masthead {
	a {
		color: @mono5;
	}
	a:hover {
		background-color: @mono3 !important;
	}
	.muted {
		color: @mono4;
	}
}

h2, h3, h4 {
	color: @mono4;
}

hr {
	border-top-color: @mono5;
}

input, textarea {
	border-color: @mono5 !important;
}

.jumbotron h1 {
	color: @mono3;
}

.btn-danger {
	.buttonBackground(@mono5, @mono2);
}